In [76]:
import requests
import json
import pandas as pd
from bqplot import pyplot as plt

In [56]:
id  = 1658
figi = 'BBG000BT7ZK6'
ticker = 'SONY'
res = requests.get('http://pipkoff-api:80/api/v0/stock', params={'id': id})
assert res.status_code == 200
cont = json.loads(res.content)
stock = cont['data']['stocks'][0]
assert stock['ticker'] == ticker
assert stock['figi'] == figi
assert stock['id'] == id
print(stock)

{'id': 1658, 'currency': 'USD', 'lot': 1, 'name': 'Sony Corp', 'type': 'Stock', 'min_price_increment': 0.01, 'active': 1, 'figi': 'BBG000BT7ZK6', 'isin': 'US8356993076', 'ticker': 'SONY'}

In [3]:
ticker = 'AAL'
res = requests.get('http://pipkoff-api:80/api/v0/stock', params={'ticker': ticker})
assert res.status_code == 200
cont = json.loads(res.content)
stock = cont['data']['stocks'][0]
print(stock)

{'min_price_increment': 0.01, 'id': 1435, 'ticker': 'AAL', 'type': 'Stock', 'currency': 'USD', 'lot': 1, 'isin': 'US02376R1023', 'name': 'American Airlines Group', 'active': 1, 'figi': 'BBG005P7Q881'}

In [11]:
res = requests.get('http://pipkoff-api:80/api/v0/market/intervals')
assert res.status_code == 200
cont = json.loads(res.content)
print(cont)

{'data': {'intervals': ['1min', '2min', '3min', '5min', '10min', '15min', '30min', 'hour', 'day', 'week', 'month']}, 'success': True}

In [57]:
res = requests.get('http://pipkoff-api:80/api/v0/stock', params={'name': 'virgin'})
print(json.loads(res.content))

{'data': {'stocks': [{'id': 184, 'currency': 'USD', 'lot': 1, 'name': 'Virgin Galactic Holdings Inc Class A', 'type': 'Stock', 'min_price_increment': 0.01, 'active': 1, 'figi': 'BBG00HTN2CQ3', 'isin': 'US92766K1060', 'ticker': 'SPCE'}]}, 'success': True}

In [58]:
ticker = 'SPCE'
interval = 'hour'
res = requests.get('http://pipkoff-api:80/api/v0/market/candles', params={'ticker': ticker, 'interval': interval})
cont = json.loads(res.content)
candles = cont['data']['candles']
print(len(candles))

95

In [45]:
print(candles[:10])

[{'l': 33.28, 'v': 222582, 'time': '2021-08-06T20:00:00+00:00', 'h': 33.93, 'o': 33.43, 'interval': 'hour', 'c': 33.46}, {'l': 33.45, 'v': 36166, 'time': '2021-08-06T21:00:00+00:00', 'h': 33.7, 'o': 33.5, 'interval': 'hour', 'c': 33.49}, {'l': 33.47, 'v': 17070, 'time': '2021-08-06T22:00:00+00:00', 'h': 33.56, 'o': 33.49, 'interval': 'hour', 'c': 33.56}, {'l': 33.01, 'v': 39454, 'time': '2021-08-09T04:00:00+00:00', 'h': 34.13, 'o': 33.21, 'interval': 'hour', 'c': 33.48}, {'l': 33.41, 'v': 11770, 'time': '2021-08-09T05:00:00+00:00', 'h': 33.54, 'o': 33.48, 'interval': 'hour', 'c': 33.52}, {'l': 33.49, 'v': 24147, 'time': '2021-08-09T06:00:00+00:00', 'h': 33.84, 'o': 33.5, 'interval': 'hour', 'c': 33.64}, {'l': 33.64, 'v': 67120, 'time': '2021-08-09T07:00:00+00:00', 'h': 33.98, 'o': 33.64, 'interval': 'hour', 'c': 33.76}, {'l': 33.51, 'v': 75505, 'time': '2021-08-09T08:00:00+00:00', 'h': 33.9, 'o': 33.76, 'interval': 'hour', 'c': 33.73}, {'l': 33.55, 'v': 33616, 'time': '2021-08-09T09:00:00+00:00', 'h': 33.74, 'o': 33.72, 'interval': 'hour', 'c': 33.66}, {'l': 33.51, 'v': 31582, 'time': '2021-08-09T10:00:00+00:00', 'h': 33.75, 'o': 33.66, 'interval': 'hour', 'c': 33.51}]

In [61]:
j = json.dumps(candles)
dfj = pd.read_json(j)

In [74]:
dfj.head()

       l      h      o                       time interval      c      v
0  33.45  33.70  33.50  2021-08-06T21:00:00+00:00     hour  33.49  36166
1  33.47  33.56  33.49  2021-08-06T22:00:00+00:00     hour  33.56  17070
2  33.01  34.13  33.21  2021-08-09T04:00:00+00:00     hour  33.48  39454
3  33.41  33.54  33.48  2021-08-09T05:00:00+00:00     hour  33.52  11770
4  33.49  33.84  33.50  2021-08-09T06:00:00+00:00     hour  33.64  24147

In [63]:
dfc = pd.DataFrame(candles)

In [70]:
dfc.head()

       l      h      o                       time interval      c      v
0  33.45  33.70  33.50  2021-08-06T21:00:00+00:00     hour  33.49  36166
1  33.47  33.56  33.49  2021-08-06T22:00:00+00:00     hour  33.56  17070
2  33.01  34.13  33.21  2021-08-09T04:00:00+00:00     hour  33.48  39454
3  33.41  33.54  33.48  2021-08-09T05:00:00+00:00     hour  33.52  11770
4  33.49  33.84  33.50  2021-08-09T06:00:00+00:00     hour  33.64  24147

In [69]:
dfj == dfc

       l     h     o  time  interval     c     v
0   True  True  True  True      True  True  True
1   True  True  True  True      True  True  True
2   True  True  True  True      True  True  True
3   True  True  True  True      True  True  True
4   True  True  True  True      True  True  True
..   ...   ...   ...   ...       ...   ...   ...
90  True  True  True  True      True  True  True
91  True  True  True  True      True  True  True
92  True  True  True  True      True  True  True
93  True  True  True  True      True  True  True
94  True  True  True  True      True  True  True

[95 rows x 7 columns]

In [80]:
dfc[['o', 'h', 'l', 'c']]

        o      h      l      c
0   33.50  33.70  33.45  33.49
1   33.49  33.56  33.47  33.56
2   33.21  34.13  33.01  33.48
3   33.48  33.54  33.41  33.52
4   33.50  33.84  33.49  33.64
..    ...    ...    ...    ...
90  25.60  26.29  25.57  25.96
91  25.96  26.10  25.64  25.75
92  25.74  25.77  25.40  25.47
93  25.48  25.78  25.27  25.35
94  25.39  25.49  25.21  25.33

[95 rows x 4 columns]

In [91]:
[t[:16] for t in dfc.head().time]

['2021-08-06T21:00',
 '2021-08-06T22:00',
 '2021-08-09T04:00',
 '2021-08-09T05:00',
 '2021-08-09T06:00']

In [121]:
fig = plt.figure(title="CandleStick Chart")
fig.layout.width="800px"

ohlc = plt.ohlc(x=dfc.index, y=dfc[["o","h","l", "c"]],
                marker="candle", stroke="#333")

ohlc.colors=["#15bb15", "#c50011"]
plt.xlabel("Date")
plt.show()

VBox(children=(Figure(axes=[Axis(label='Date', scale=LinearScale()), Axis(orientation='vertical', scale=Linear…